@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

  .warehouse-details-page {

    margin: 0 40px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
    background: var(--white);

  }