@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;

.warehouse-details {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid $slate;
  padding: 8px 30px;

  &__back-button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__edit-button {
    font-family: $font;
    font-weight: $semi-bold;
    font-size: 16px;
    margin: 20px 0;
    transition: background 0.3s ease;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    width: 36px;
    height: 36px;
    background-color: $indigo;

    img {
      width: 20px;
      height: 20px;
      margin-left: -3px;
    }

    @include tablet {
      color: $white;
      border-radius: 20px;
      padding: 8px 16px;
      width: 81px;
      height: 38px;

      img {
        margin-bottom: -3px;
        margin-right: 2px;
      }
    }

    &:hover {
      background: rgba(46, 102, 229, 0.8);
    }
  }

  &__title {
    padding-left: 10px;
    font-family: $font;
    font-weight: $semi-bold;
    font-size: 32px;
    color: $blk;
    margin: 0;
  }

  &__address {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      width: 20%;
    }

    h2 {
      width: 100%;
    }
  }

  &__contact {
    display: flex;
    flex-wrap: nowrap;
    gap: 16vw;
    padding-top: 20px;

    @include tablet {
      padding-right: 80px;
      display: flex;
      gap: 80px;
      padding-left: 40px;
      border-left: 0.5px solid $slate;
    }
  }

  &__info {
    padding: 8px 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid $cloud;

    @include tablet {
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 8px 30px;
      border-bottom: none;
    }

    h2 {
      font-family: $font;
      font-weight: $semi-bold;
      font-size: 18px;
      color: $blk;
    }

    p {
      margin: 5px 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-header {
      display: none;
      border-bottom: 1px solid $cloud;

      @include tablet {
        display: grid;
        grid-template-columns: 1.5fr 1.2fr 1fr 0.7fr 0.4fr;
        padding: 8px 30px;
        border-bottom: none;
        background: $light-grey;
        font-weight: $semi-bold;
        cursor: pointer;
        align-items: center;
      }

      div {
        display: flex;
        align-items: center;

        &:first-child {
          font-family: $font;
          font-weight: $semi-bold;
          font-size: 14px;
          color: $indigo;
        }

        .sort-icon {
          width: 16px;
          height: 16px;
          margin-left: 8px;
        }
      }
    }

    &-row {
      display: flex;
      flex-direction: row;
      padding: 8px 30px;
      border-bottom: 1px solid $cloud;
      flex-wrap: wrap;

      @include tablet {
        display: grid;
        grid-template-columns: 1.5fr 1.2fr 1fr 0.7fr 0.4fr;
        grid-template-areas:
          "warehouse contact-info address contact-name actions";

        li:nth-child(1) {
          grid-area: warehouse;
        }

        li:nth-child(2) {
          grid-area: address;
        }

        li:nth-child(3) {
          grid-area: contact-info;
        }

        li:nth-child(4) {
          grid-area: contact-name;
        }

        li:nth-child(5) {
          grid-area: actions;
        }
      }

      &:nth-child(even) {
        background: $white;
      }

      &:nth-child(odd) {
        background: rgba(247, 248, 249, 0.7);
      }

      a {
        color: $indigo;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .status {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: $semi-bold;
        white-space: nowrap;
        width: fit-content;

        &.in-stock {
          background: rgba(21, 132, 99, 0.1);
          color: $green;
        }

        &.out-of-stock {
          background: rgba(201, 69, 21, 0.1);
          color: $red;
        }
      }
    }
  }

  &-btn {
    display: flex;
    align-items: center;
  }


  &__action-button-edit {
    padding-left: 40%;

    @include tablet {
      margin-left: 40px;
    }
  }

  &__list-row li {
    padding-top: 10px;
    width: 50%;
  }

  &__item-warehouse-ChevronRightIcon img {
    margin-bottom: -7px;
  }

}

.warehouse-details__action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover img {
    filter: brightness(0.8);
  }
}

.warehouse-list__actions {
  display: flex;
  width: 100%;

  @include tablet {
    width: 35%;
  }
}

.warehouse-list__action-button-edit {
  padding-left: 40%;
}
