@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-form {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 1.5rem;
  width: 90%;
  height: 100vh;
  position: relative;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    margin-left: 5.5rem;
    width: 85%;
  }

  &__da-wrapper {
    width: 100%;

    @include tablet {
      display: flex;
    }
  }

  &__detailsCat-wrapper {
    @include tablet {
      border-right: 1px solid $slate;
      width: 50%;
    }
  }

  &__detailContainer {
    @include tablet {
      height: 50%;
    }
  }

  &__detailTitle {
    padding-top: 1rem;
    margin-left: 1rem;
  }

  &__nameContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
  }

  &__label {
    margin-left: 1.5rem;
    font-family: $font;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.3rem;
  }

  &__availabilityContainer {
    @include tablet {
      width: 45%;
      height: 50%;
    }
  }

  &__availabilityTitle {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    margin-left: 1rem;
  }

  &__descContainer {
    margin-top: 0.4rem;
    padding-bottom: 0.3rem;
  }

  &__desc {
    margin-left: 1rem;
    border-radius: 20px;
    resize: none;
    padding-top: 0.5rem;
    padding-left: 16px;
    padding-right: 16px;
    width: 90% !important;
    font-family: $font;
    height: 14vh;
  }

  &__categoryContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $slate;
    padding-bottom: 0.8rem;

    @include tablet {
      border-bottom: none;
    }
  }

  &__qtyContainer {
    &--hide {
      display: none;
    }
  }

  &__itemName {
    width: 90%;
    margin-left: 1rem;
    border-radius: 20px;
    height: 2.25rem;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__category {
    width: 90%;
    margin-left: 1rem;
    border-radius: 20px;
    height: 2.25rem;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 1rem;
  }

  &__statusContainer {
    display: flex;
    flex-direction: column;
  }

  &__statusOptions {
    margin-left: 1rem;
    padding-bottom: 0.8rem;
  }

  &__inStock {
    margin-right: 0.25rem;
  }

  &____outOfStock {
    margin-left: 0.3rem;
    margin-right: 0.25rem;
  }

  &__radio {
    margin-right: 0.25rem;
  }
  &__qty {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 1rem;
    border-radius: 20px;
    height: 2.25rem;
    width: 90%;
    margin-bottom: 0.5rem;
  }

  &__warehouseContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  &__warehouse {
    width: 90%;
    margin-left: 1rem;
    border-radius: 20px;
    height: 2.25rem;
    padding-left: 16px;
    padding-right: 16px;
  }

  //Buttons

  &__btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $light-grey;

    @include tablet {
      width: 98%;
      justify-content: flex-end;
    }
  }

  &__cancelBtn {
    width: 40%;
    height: 2.8rem;
    background-color: $white;
    color: $slate;
    cursor: pointer;
    font-weight: $semi-bold;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    border: 1px solid $slate;
    margin-left: 0.3rem;
    margin-right: 0.8rem;

    @include tablet {
      width: 20%;
    }
    @include desktop {
      width: 10%;
    }
  }

  &__addBtn {
    width: 40%;
    height: 2.8rem;
    background-color: $indigo;
    color: $white;
    cursor: pointer;
    font-weight: $semi-bold;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    border: none;

    @include tablet {
      width: 20%;
    }

    @include desktop {
      width: 10%;
    }
  }
}
